html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}
table{
	white-space: nowrap;
	height: 100vh;
	width: 100%;
}
tr{
	width: 200px;
	max-width: 200px;
	overflow: hidden;
}

td{
	text-overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	width:200px;
	max-width:200px;
}
.table-responsive {
	height: 100vh;
	overflow-x: unset;
}
.filter-select {
	width: 200px;
}
/* Hidden placeholder */
.filter-select option[disabled]:first-child {
	display: none;
}