table{
	white-space: nowrap;
	height: 1000px;
	width: 100%;
}
tr{
	width: 200px;
	max-width: 200px;
	overflow: hidden;
}

td{
	text-overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	width:200px;
	max-width:200px;
}
.table-responsive {
	height: 1200px;
}